<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div id="app"></div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.1/react.js" charset="utf-8"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.1/react-dom.js" charset="utf-8"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/mobx/2.7.0/mobx.umd.js" charset="utf-8"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/react-router/2.8.1/ReactRouter.js" charset="utf-8"></script>
		<script src="https://unpkg.com/mobx-react@3.5.9"></script><!-- problems with v4 warning --->
		<script src="/static/build/build.min.js" charset="utf-8"></script>
	</body>
</html>
